.receipt-create-container {
  width: 99%;
  height: 98%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Monaco, "Lucida Console", monospace;
}

.receipt-bg {
  background-color: #D6FFDE;
}
