<div fxLayout="column" fxFill fxLayoutAlign="center center">
  <div class="therapy-create-container" fxLayout="column">
    <div class="frame-header" fxLayoutAlign="start center">
      <label>New Therapy </label>
    </div>
    <div class="frame-content">
      <app-therapy-form #therapyForm (therapySubmit)="onSubmitTherapy($event)"></app-therapy-form>
    </div>
    <div class="frame-footer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div (click)="saveTherapy()">
        <label><u>S</u>ave</label>
      </div>
      <div (click)="goBack()">
        <label><u>Q</u>uit</label>
      </div>
    </div>
  </div>
</div>
