<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="tax-form-container" fxLayout="column">
    <div class="frame-header" fxLayout="row" fxLayoutAlign="center center">
      <label>Tax Edit</label>
    </div>
    <div class="frame-content">
      <app-tax-form #taxForm [tax]="tax" (taxSubmit)="onSubmitTax($event)"></app-tax-form>
    </div>
    <div class="frame-footer" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div (click)="saveTax()">
        <label><u>S</u>ave</label>
      </div>
      <div (click)="goBack()">
        <label><u>Q</u>uit</label>
      </div>
    </div>
  </div>
</div>
