<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="manufacturer-update-container" fxLayout="column">
    <div class="frame-header" fxLayout="row" fxLayoutAlign="center center">
      <label>Manufacturer Edit</label>
    </div>
    <div class="frame-content">
      <app-manufacturer-form #manufacturerForm [manufacturer]="manufacturer" (manufacturerSubmit)="onSubmitManufacturer($event)"></app-manufacturer-form>
    </div>
    <div class="frame-footer" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div (click)="saveManufacturer()">
        <label><u>S</u>ave</label>
      </div>
      <div (click)="goBack()">
        <label><u>Q</u>uit</label>
      </div>
    </div>
  </div>
</div>
