<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="financial-year-display-container">
    <div class="frame-header" fxLayout="row" fxLayoutAlign="center center">
      <label>Financial Year</label>
    </div>
    <div class="frame-content" fxLayout="column">
      <app-auto-complete #autoComplete [limitSize]="17" [reload]="reloadList" [fields]="autoCompleteFields" [searchField]="'name'" [dataStream]="financialYearDataStreamCallback" (selectedItem)="onAutoCompleteSelect($event)"></app-auto-complete>
    </div>
    <div class="frame-footer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div (click)="addFinancialYear()">
        <label><u>N</u>ew</label>
      </div>
      <div (click)="editFinancialYear()">
        <label><u>E</u>dit</label>
      </div>
      <div (click)="deleteFinancialYear()">
        <label><u>D</u>elete</label>
      </div>
    </div>
  </div>
</div>
