<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="voucher-model-display-container">
    <div class="frame-header" fxLayout="row" fxLayoutAlign="center center">
      <label>Voucher Model</label>
    </div>
    <div class="frame-content" fxLayout="column">
      <app-auto-complete #autoComplete [limitSize]="17"[reload]="reloadList" [fields]="autoCompleteFields" [searchField]="'name'" [dataStream]="voucherModelDataStreamCallBack" (selectedItem)="onAutoCompleteSelect($event)"></app-auto-complete>
    </div>
    <div class="frame-footer" fxLayout="row" fxLayoutAlign="start center">
      <div (click)="addVoucherModel()">
        <label><u>N</u>ew</label>
      </div>
      <div  (click)="editVoucherModel()">
        <label><u>E</u>dit</label>
      </div>
      <div (click)="deleteVoucherModel()">
        <label><u>D</u>elete</label>
      </div>
    </div>
  </div>
</div>
