<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="unit-container">
    <div class="frame-header" fxLayout="row" fxLayoutAlign="center center">
      <label>Unit</label>
    </div>
    <div class="frame-content" fxLayout="column">
      <app-auto-complete #autoComplete [limitSize]="17" [reload]="reloadList" [fields]="autoCompleteFields" [searchField]="'name'" [dataStream]="unitDataStreamCallback" (selectedItem)="onAutoCompleteSelect($event)"></app-auto-complete>
    </div>
    <div class="frame-footer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div (click)="addUnit()">
        <label *ngIf="userPermissions([9])"><u>N</u>ew</label>
      </div>
      <div (click)="editUnit()">
        <label *ngIf="userPermissions([11])"><u>E</u>dit</label>
      </div>
      <div (click)="deleteUnit()">
        <label *ngIf="userPermissions([12])"><u>D</u>elete</label>
      </div>
    </div>
  </div>
</div>
