<div fxLayout="column" fxFill fxLayoutAlign="center center">
  <div class="product-create-container" fxLayout="column">
    <div class="frame-header" fxLayoutAlign="start center">
      <label>New Product </label>
    </div>
    <div class="frame-content">
      <app-product-form #productForm (submitHandler)="onSubmitProduct($event)"></app-product-form>
    </div>
    <div class="frame-footer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div (click)="saveProduct()">
        <label><u>S</u>ave</label>
      </div>
      <div (click)="goBack()">
        <label><u>Q</u>uit</label>
      </div>
    </div>
  </div>
</div>
