<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="ledger-update-container" fxLayout="column">
    <div class="frame-header" fxLayout="row" fxLayoutAlign="center center">
      <label>Ledger Edit</label>
    </div>
    <div class="frame-content">
      <app-ledger-form #ledgerForm [ledger]="ledger" (submitLedger)="onSubmitLedger($event)"></app-ledger-form>
    </div>
    <div class="frame-footer" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div (click)="saveLedger()">
        <label><u>S</u>ave</label>
      </div>
      <div (click)="goBack()">
        <label><u>Q</u>uit</label>
      </div>
    </div>
  </div>
</div>
