<div fxLayout="column" fxFill fxLayoutAlign="center center">
  <div class="tax-form-container" fxLayout="column">
    <div class="frame-header" fxLayoutAlign="start center">
      <label>New Tax </label>
    </div>
    <div class="frame-content">
      <app-tax-form #taxForm (taxSubmit)="onSubmitTax($event)"></app-tax-form>
    </div>
    <div class="frame-footer" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div (click)="saveTax()">
        <label><u>S</u>ave</label>
      </div>
      <div (click)="goBack()">
        <label><u>Q</u>uit</label>
      </div>
    </div>
  </div>
</div>
