<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="salt-update-container" fxLayout="column">
    <div class="frame-header" fxLayout="row" fxLayoutAlign="center center">
      <label>Salt Edit</label>
    </div>
    <div class="frame-content">
      <app-salt-form #saltForm [salt]="salt" (saltSubmit)="onSubmitSalt($event)"></app-salt-form>
    </div>
    <div class="frame-footer" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div (click)="saveSalt()">
        <label><u>S</u>ave</label>
      </div>
      <div (click)="goBack()">
        <label><u>Q</u>uit</label>
      </div>
    </div>
  </div>
</div>
