<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="payment-create-container" fxLayout="column">
    <div class="frame-header" fxLayout="row" fxLayoutAlign="start center">
      <label>New {{voucherModel.name}}</label>
    </div>
    <div class="frame-content">
      <app-account-voucher-element #doubleEntrySystem [voucherModel]="voucherModel" (voucherSubmit)="onSubmitPayment($event)"></app-account-voucher-element>
    </div>
    <div class="frame-footer" fxLayout="row" fxLayoutAlign="start center">
      <div (click)="goBack()">
        <label><u>Q</u>uit</label>
      </div>
      <div (click)="savePayment()">
        <label><u>S</u>ave</label>
      </div>
    </div>
  </div>
</div>
