<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="unit-update-container" fxLayout="column">
    <div class="frame-header" fxLayout="row" fxLayoutAlign="center center">
      <label>Unit Edit</label>
    </div>
    <div class="frame-content">
      <app-unit-form #unitForm [unit]="unit" (unitSubmit)="onSubmitUnit($event)"></app-unit-form>
    </div>
    <div class="frame-footer" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div (click)="saveUnit()">
        <label><u>S</u>ave</label>
      </div>
      <div (click)="goBack()">
        <label><u>Q</u>uit</label>
      </div>
    </div>
  </div>
</div>
